.table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;

  white-space: nowrap;
}

.scroll {
  overflow-x: auto;
  padding: 2rem;
  margin-top: 2rem;
}

.table thead {
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}

.table th,
.table td {
  padding: 10px;
}

.table tr {
  border-top: 1px solid #dfdfdf;
}

.team {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.logo img {
  height: 100%;
}

.chelsea {
  color: #003cbe !important;
  font-weight: 700 !important;
}

.points {
  font-weight: 700;
}
