.block {
  background-color: #f2f3f7;
  min-width: 32.5%;
  display: inline-block;
  position: relative;
  padding: 1.5rem;
  margin: 2rem 0;
}

.triangle {
  background-image: linear-gradient(
    to left top,
    #e3e6ef 0%,
    #e3e6ef 50%,
    transparent 50%
  );
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
}

.score {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score img {
  margin-right: 1rem;
}

.score span {
  display: flex;
  align-items: center;
}

.centre {
  position: absolute;
  bottom: 4%;
  right: 4%;
  color: #0033fe;
  font-size: 1.2rem;
  font-weight: 600;
}
